.inputBorder1 {
    width: 394px;
    margin-right: 52px;
    border: none;
    outline: none;
    border-bottom: 1px solid #197395;
    color: #2C7E9D;
    font-size: 15px;
}

.inputBorder1::placeholder{

        text-align: left;
        font: normal normal 600 14px/19px WeblySleek UI;
        letter-spacing: 0px;
        color: #197395;


}

.formDiv {
    position: relative;
    margin-top: 50px;
}

.label {
    position: absolute;
    top: -5px;
    left: 0;
    color: #197395;
    font-weight: 600;
    transition: .5s;
}

.formDiv input:focus ~ label,
.focus {
    top: -18px;
    font-size: 13px;
}

.imgPassword {
    /*top: 5px;*/
    /*right: 100px;*/
    top: 0;
    right: 24px;
    position: absolute;
}


.textreg1 {
    margin: 10px 0;
    text-align: left;
    font: normal normal 600 12px/16px WeblySleek UI;
    letter-spacing: 0px;
    color: #39A8D2;
    opacity: 1;
}
