.chatBigbox{
    padding: 150px 0;
    width: 100%;
    min-height: 100vh;
    background-color: #F8F8F8
}

.container {
    max-width: 1170px !important;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    min-height: 70px;

}



.mass{
    border-radius: 10px;
    width:70%;
    height:48px;
    background-color:  #FEFEFE;
    display: flex;
}
.mass p{
margin: 0 10px;
display: flex;
align-items: center;
text-align: center;
font: normal normal 600 14px/19px WeblySleek UI;
letter-spacing: 0px;
color: #197395;
}
.mass div{
    width: 220px;
    margin: 0 20px;
    display: flex;
    align-items: center;
}

.gov div{
display: flex;
flex-wrap: wrap;

}

.gov{
    padding: 245px 160px;
}
.hovver:hover{
    border-radius: 10px;
    cursor: pointer;
    color:wheat ;
    background-color: #d8dddf;
}